.additional-input {
	border-top: 1px solid black;
	background: rgba(161, 161, 161, 0.938);
	min-height: 3rem;
	height: auto;
	display: flex;
	align-items: center;
	padding: 0.4rem;
	caret-color: transparent;
	border-bottom: none;
	background: rgb(132, 167, 132);
	display: flex;
	/* display: none; */
	flex-direction: column;
	align-items: start;
	flex-grow: 1;
	gap: 0.5rem;
	cursor: default;
	border-top: none;
}

.options {
	display: flex;
	gap: 0.5rem;
}

.option:active {
	position: relative;
	top: 3px;
}

.option {
	background: rgb(196, 196, 196);
	border: 1px solid black;
	padding: 0.4rem 0.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	min-width: 4rem;
	text-align: center;
	cursor: pointer;
}

.option:hover {
	background: rgb(118, 204, 118);
}

.option:active {
	background: green;
}

.selected {
	background: lightcoral;
}
