*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

.additional-input {
	background: rgb(132, 167, 132);
	display: flex;
	display: none;
	flex-direction: column;
	align-items: start;
	flex-grow: 1;
	gap: 0.5rem;
	cursor: default;
	border-top: none;
	padding-inline: 1rem;
	padding-block: 0.5rem;

	& > h4 {
		font-weight: bold;
	}
}

input {
	height: 2rem;
	border-radius: 0.2rem;
	padding-left: 0.3rem;
	width: 100%;
	height: 2rem;
	position: relative;
}

input:focus {
	outline: 1.5px solid rgb(22, 71, 15);
}

.input-wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.special-buttons {
	display: flex;
	gap: 0.2rem;
	align-items: flex-end;
	width: 100%;

	& button {
		margin-top: 0.3rem;
		width: 1.5rem;
		border: 1px solid green;
		border-radius: 0.2rem;
		background: rgb(171, 238, 171);
		flex-grow: 1;

		&:hover {
			background: green;
		}

		&:focus {
			background: green;
			outline: 1px solid rgb(91, 199, 91);
		}

		&:active {
			position: relative;
			top: 3px;
		}
	}
}

.no-select {
	user-select: none; /* Prevents text selection */
}

.selection {
	cursor: pointer;
}

button.remove-button {
	position: absolute;
	right: 0.2rem;
	z-index: 1;
}
