*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

hr {
	margin-block: 0.7rem;
	border-color: black;
	border-style: dashed;
}

good {
	color: rgb(84, 5, 129);
}

bad {
	color: rgb(136, 40, 40);
}

h4 {
	font-weight: 700;
	font-size: large;

	&::after {
		content: ":";
	}
}

h5 {
	font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	height: 2rem;
	border-radius: 0.3rem;
	padding-inline: 0.5rem;

	&:focus {
		outline: 2px solid rgb(22, 71, 15);
	}
}

button {
	padding-inline: 1.5rem;
	border: 1px solid black;
	height: 2rem;
	background: lightcoral;
	border-radius: 0.3rem;

	&:hover {
		background: red;
	}

	&:active {
		position: relative;
		top: 3px;
	}
}

.misc-content {
	display: flex;
	flex-direction: column;
	background: rgba(168, 205, 216, 0.753);

	margin: 1.5rem;
	border-radius: 0.5rem;
	padding: 1rem;
	padding-inline: 1.5rem;
}

.text-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& .text-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	& .users-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
}

.popup {
	position: absolute;
	background: purple;
	right: 0.3rem;
	top: 0.3rem;
	padding: 0.4rem;
	border-radius: 0.4rem;
	opacity: 1;
	color: white;
	font-size: 1rem;
}

.clickable {
	background: rgb(137, 159, 207);
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 0.4rem;
	padding: 1rem;
	margin-block: 0.2rem;
	font-size: large;
	cursor: pointer;

	& p::after {
		content: " -Click to copy";
		color: #ffffff85;
	}
}
