*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr {
	margin-block: 0.7rem;
	border-color: black;
	border-style: dashed;
}

h4 {
	font-weight: 700;
	font-size: 1.25rem;

	&::after {
		content: ":";
	}
}

.updates-list {
	display: flex;
	flex-direction: column;
	background: rgba(168, 205, 216, 0.753);

	margin: 1.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.update-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-inline: 1rem;
	padding-block: 0.3rem;
}

.updates-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	justify-content: center;
	padding-left: 0.5rem;
	font-size: 1.1rem;

	& > p::before {
		content: "📌 ";
	}

	& a {
		color: rgb(0, 35, 148);
		/* text-decoration: underline; */
	}
}
