<div class="text-group">
	<h4 class="desc">FBG Queues CLEARED</h4>
	<div class="text-wrapper">
		<div class="clickable">
			<p class="text" id="cleared">
				FBG Withdrawals Handled by MNL Team <b>CLEARED</b> - Updated as of [timeNow]
			</p>
		</div>
	</div>
</div>
