---
import fbgQueues from "../../data/fbgQueues.json";
---

<div class="text-group" id="indivs">
	<h4 class="desc">Individual FBG Queues for posting</h4>
	<div class="choices-wrapper">
		<div class="clickable">
			<p class="text" id="result">Please select cleared queues below:<br /></p>
		</div>
		<button id="miscReset">RESET</button>
		<div class="choices">
			{
				fbgQueues.map((queueItem) => (
					<>
						<div id={queueItem.id} class="choice">
							<p>{queueItem.name}</p>
							<div id={`${queueItem.id}-count`} class="choice-count">
								<p class="label">Items Left:</p>
								<input
									id={`${queueItem.id}-input`}
									type="number"
									placeholder={"Items Left"}
								/>
							</div>
						</div>
					</>
				))
			}
		</div>
	</div>
</div>

<style>
	button {
		width: 100%;
		height: 2.5rem;
	}

	.selected {
		background: #1eb32b;
	}

	.choices-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}

	.choices {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		border-radius: 0.3rem;
		overflow: hidden;
		cursor: pointer;
	}

	.choice {
		padding: 0.6rem;
		border-top: 1px solid black;
		display: flex;

		align-items: center;
		height: 3rem;
	}

	.choice:first-child {
		border-top: none;
	}

	.choice:hover {
		outline: 3px solid rgb(69, 135, 156);
		outline-offset: -0.2rem;
	}

	.choice:active {
		background: rgb(134, 168, 179);
	}

	.choice-count {
		display: flex;
		align-items: center;
		gap: 1rem;
		display: none;
		position: absolute;
		left: 30%;

		input {
			width: 50%;
		}
	}
</style>

<script src="../../scripts/forPosting"></script>
