---

---

<div class="text-group" id="indivs">
	<h4 class="desc">Individual FBG Queues for posting</h4>
	<div class="choices-wrapper">
		<div class="clickable">
			<p class="text" id="result">Please select cleared queues below:<br /></p>
		</div>
		<button id="miscReset">RESET</button>
		<div class="choices">
			<p class="choice selected" id="VIPL">Vip Withdrawal- Licensed States</p>
			<p class="choice" id="VIPNL">Vip Withdrawal- Non Licensed States</p>
			<p class="choice" id="Cash">Withdrawal- Cash At Cage</p>
			<p class="choice" id="IN">Withdrawals - Indiana</p>
			<p class="choice" id="NL">Withdrawals - Non-Licensed</p>
			<p class="choice" id="PA">Withdrawals - Pennsylvania</p>
		</div>
	</div>
</div>

<style>
	button {
		width: 100%;
		height: 2.5rem;
	}

	.selected {
		background: #1eb32b;
	}

	.choices-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}

	.choices {
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		border-radius: 0.3rem;
		overflow: hidden;
		cursor: pointer;
	}

	.choice {
		padding: 0.6rem;
		border-top: 1px solid black;
	}

	.choice:first-child {
		border-top: none;
	}

	.choice:hover {
		outline: 3px solid rgb(69, 135, 156);
		outline-offset: -0.2rem;
	}

	.choice:active {
		background: rgb(134, 168, 179);
	}
</style>
