---
const { label } = Astro.props;
---

<section>
	<h3>{label}</h3>
	<div class="clickable">
		<slot><p>SAMPLE CONTENT</p></slot>
	</div>
</section>

<style>
	section {
		& h3 {
			font-style: italic;
			font-weight: bold;
			font-size: 1.06rem;
			color: #1b0b69;
		}
	}
</style>
