---
import WDCancellationItem from "./WDCancellationItem.astro";
---

<div class="wd-cancellation">
	<h4>Cases Group</h4><div class="group-wrapper">
		<WDCancellationItem label="Sample Label 1">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
				adipisci vero unde? Reiciendis temporibus libero quisquam dicta
				voluptate doloribus voluptas, possimus ex enim soluta, minus unde velit
				quae labore perferendis?
			</p>
		</WDCancellationItem>

		<WDCancellationItem label="Sample Label 2">
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi,
				dolor. Aspernatur, vero veritatis sint vel laudantium nostrum quis
				deserunt cupiditate repudiandae adipisci consequuntur nulla, nihil
				architecto, optio corrupti! Sed, laboriosam.
			</p>
		</WDCancellationItem>

		<WDCancellationItem label="Sample Label 3">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi
				deleniti fugiat animi explicabo vero recusandae, eligendi consequuntur
				necessitatibus repellat consectetur dicta. Ullam repellendus in nesciunt
				obcaecati ex praesentium corporis?
			</p></WDCancellationItem
		>
	</div>

	<WDCancellationItem label="Sample Label 4">
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor deserunt
			ullam nisi autem deleniti? Ullam voluptatibus quis nostrum alias? Alias,
			tempora unde ipsum sunt debitis ullam? Natus deserunt quis tempora?
		</p>
	</WDCancellationItem>

	<WDCancellationItem label="Sample Label 5">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae
			quod mollitia deleniti et at ipsam magnam. In veritatis modi, dolore,
			accusamus sequi, aperiam rem voluptatem fugit voluptate eum distinctio!
			Dolorum placeat harum expedita tenetur voluptatem laboriosam optio! Optio
			minima natus totam! Iusto, amet sunt veniam ut ullam labore impedit.
		</p>
	</WDCancellationItem>
</div>

<WDCancellationItem label="Sample Label 6">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, minima id
		nobis sapiente labore eveniet quibusdam illo esse ullam officiis.
	</p>
</WDCancellationItem>

<WDCancellationItem label="Sample Label 7">
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias iure itaque
		nisi voluptatibus adipisci. Magni?
	</p>
</WDCancellationItem>

<WDCancellationItem label="Sample Label 8">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum maiores
		aut voluptatibus veniam id officia veritatis eveniet saepe non earum, omnis
		debitis? Non eligendi fuga quod minima cupiditate, impedit excepturi vitae
		iure nostrum repudiandae aut animi nobis in dicta nihil eveniet doloremque
		quis assumenda facere! Id aut voluptates voluptatem amet excepturi molestias
		totam sapiente ad modi est dolor, dicta iste ratione recusandae beatae
		debitis, libero velit iure assumenda? Dolorum consectetur impedit dolores.
		Aperiam, nisi. Fugiat incidunt aspernatur sapiente esse nulla unde dolore
		dolor eligendi necessitatibus ipsam consequatur neque minima possimus, quasi
		harum eaque porro dolores odit. Esse, maiores? Odit?
	</p>
</WDCancellationItem>

<style>
	.group-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;

		margin-top: 1rem;
	}
</style>
