---
import WDCancellationItem from "./WDCancellationItem.astro";
---

<div class="wd-cancellation">
	<h4>Withdrawal Cancellation <bad>(Except PA, NJ, WV)</bad> Replies</h4><div
		class="group-wrapper"
	>
		<WDCancellationItem
			label="Used Withdrawal Cancellation workflow but NOT REQUESTING FOR CANCELLATION"
		>
			<p>
				Sorry, this workflow should be used exclusively for <b>
					withdrawal cancellation requests
				</b>. If you have any questions or need approval for this transaction,
				it would be best to post it in the channel without using the workflow so
				our senior agents can handle it accordingly. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem
			label="Used Withdrawal Cancellation workflow but REFUND RELATED"
		>
			<p>
				Hi! It looks like this is related to refund. Please note that this
				workflow is specifically for <b>Withdrawal Cancellation Requests</b>.
				Deposit refund is for Payments Team. However, you can post this on a new
				thread without using the cancellation workflow, or with the Payments
				Escalation 2.0 workflow so that our US Counterpart can check this and
				provide appropriate course of action for your concern. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem label="Status: WITHDRAWAL_COMPLETED">
			<p>
				Sorry, we cannot cancel this transaction because it's already in the
				status of <b>WITHDRAWAL_COMPLETED</b>. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem label="Status: WITHDRAWAL_SUBMITTED">
			<p>
				Sorry, we are not allowed to cancel this withdrawal because it's already
				in <b>WITHDRAWAL_SUBMITTED</b> status. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem label="Status: WITHDRAWAL_ATTENTION_REQUIRED">
			<p>
				Sorry, this transaction cannot be cancelled as it had already passed the
				approval status and is now in the status of <b
					>WITHDRAWAL_ATTENTION_REQUIRED</b
				>. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem
			label="Status: WITHDRAWAL_PENDING AND PAYMENT METHOD IS NOT PAPERCHECK"
		>
			<p>
				Sorry, this transaction cannot be cancelled because it's in the status
				of <b>WITHDRAWAL_PENDING</b>. We can only cancel withdrawals under
				status of
				<b>WITHDRAWAL_PENDING</b> if the payment method is <b
					><i>Papercheck</i></b
				>. Thank you!
			</p>
		</WDCancellationItem>

		<WDCancellationItem
			label="When asked how to cancel withdrawal on client's end"
		>
			<p>
				To cancel the withdrawal on the client's end, you may provide these
				steps to the client: <br />
				<br />
				1. Select the Account page button in the top right <br />
				2. Scroll down to Account Activity <br />
				3. Select the Withdrawal <br />
				4. Scroll down to the Cancel Withdrawal button.<br />
				<br />
				If the client is not able to see the cancellation button, sometimes an app
				restart helps solve the problem. Thank you!
			</p>
		</WDCancellationItem>
	</div>
</div>

<style>
	.group-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;

		margin-top: 1rem;
	}
</style>
