---
// Components import
import MainLayout from "../layouts/MainLayout.astro";
import Escalation from "../components/Escalation.astro";
import Restriction from "../components/Restriction.astro";

// Data import
import allRestrictions from "../data/restriction.json";
import RestrictionList from "../components/RestrictionList.astro";

const title = "Home Page";
---

<MainLayout title={title}>
	<Escalation />
	<RestrictionList />
	<!-- <p slot="footer">HELLO!!</p> -->
</MainLayout>

<script>
	// Any click on the page will update the result
	import Escalation from "../scripts/escalation";
	document.querySelector("html")!.addEventListener("click", () => {
		Escalation.updateResult();
	});
</script>

<script src="../scripts/addMore"></script>
<script src="../scripts/copyEscalation"></script>
