---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/misc.css";
import RelatedUsers from "../components/miscComponents/RelatedUsers.astro";
import ForPosting from "../components/miscComponents/ForPosting.astro";
import WDCancellation from "../components/miscComponents/WDCancellation.astro";
import FBGCleared from "../components/miscComponents/FBGCleared.astro";

const title = "Product 2";
---

<MainLayout title={title}>
	<div class="misc-content">
		<RelatedUsers />
		<hr />
		<ForPosting />
		<hr />
		<FBGCleared />
		<hr />
		<WDCancellation />
	</div>
	<!--  -->
</MainLayout>

<script>
	import "../scripts/miscCopy";
	import "../scripts/miscUtils";
</script>
