---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Misc";
---

<MainLayout title={title}>
	<p slot="footer">
		I made this just for me, but feel free to use it if you think it's helpful
		for you 🙂
	</p>
</MainLayout>
