---
import Update from "../components/updateComponents/Update.astro";
import MainLayout from "../layouts/MainLayout.astro";

// css
import "../styles/updates.css";

const title = "Product Updates";
---

<MainLayout title={title}>
	<div class="updates-list">
		<Update date="November 23, 2022">
			<p>Lorem, ipsum dolor.</p>
			<p>Esse, totam recusandae!</p>
			<p>Distinctio, adipisci suscipit.</p>
		</Update>

		<hr />

		<Update date="November 15, 2022">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, illo
				quibusdam! Odio nemo reiciendis perspiciatis consequuntur, nobis
				sapiente quam repudiandae!
			</p>
			<p>
				Laudantium facilis, totam, nam ea possimus nesciunt dolorem cum
				blanditiis necessitatibus aliquam accusantium. Veniam, ipsa fugit ullam
				neque quos est!
			</p>
			<p>
				Nostrum quos mollitia ad facere minima sunt illum ut facilis molestias
				unde, natus, quisquam ducimus placeat est! Eligendi, modi quas?
			</p>
			<p>
				Unde blanditiis quidem magnam provident debitis quas corrupti, odio
				accusantium tempore sunt voluptatibus veniam repellat nulla laudantium.
				Ex, iure nihil.
			</p>
			<p>
				Incidunt ea non excepturi. Esse enim harum earum ad, sit maxime a, in
				illum assumenda dignissimos fuga illo animi optio.
			</p></Update
		>

		<hr />

		<Update date="October 22, 2022">
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla facilis,
				rem laborum magnam nisi corrupti.
			</p>
		</Update>

		<hr />

		<Update date="October 21, 2022">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quo
				quidem fugit voluptatum.
			</p>
		</Update>

		<hr />

		<Update date="October 10, 2022">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nisi
				aperiam error modi, quos asperiores tempore?
			</p>
			<p>
				Perferendis culpa autem libero quo voluptatibus aut veniam eius
				blanditiis amet totam, recusandae, neque aliquid ut.
			</p>
			<p>
				Ipsa, unde fugit id quibusdam eos optio sapiente distinctio nam officiis
				molestias nihil nisi voluptatem fuga.
			</p>
			<p>
				Similique vel nulla veniam repellendus totam quas reprehenderit laborum
				quo et necessitatibus, dignissimos debitis, dolorum ipsam.
			</p>
			<p>
				Quidem aliquam neque magni? Id tempora ullam non aperiam, ut in ipsam
				excepturi enim vitae voluptatibus?
			</p>
			<p>
				Dicta perspiciatis facere optio, praesentium nobis, enim ab odio, iure
				earum rem expedita velit cum! Vitae?
			</p>
			<p>
				Nostrum autem ratione optio hic in magni deserunt unde fuga, laudantium
				consectetur aliquam fugiat cumque molestiae.
			</p>
			<p>
				In culpa quae quam excepturi assumenda sunt nulla quo adipisci maxime,
				ab asperiores? Labore, neque a?
			</p>
		</Update>
	</div>
</MainLayout>
