---
const { id, escalation, additionalDesc, options } = Astro.props.restriction;

const choices = Object.entries(options);
---

<div id={`${id}-extra`} class="additional-input">
	<h4>{additionalDesc}</h4>
	<div class="options">
		{
			choices.map(([label, value]) => (
				<div id="isVIP" class="option" data-value={value}>
					<p>{label}</p>
				</div>
			))
		}
	</div>
</div>

<style></style>
