---
import AddMoreButton from "../AddMoreButton.astro";

const { name } = Astro.props.restriction;
---

<div id="name_names" class="additional-input">
	<h4>Names in Account:</h4>
	<div class="input-fields">
		<input type="text" placeholder="Name 1" />
		<input type="text" placeholder="Name 2" />
		<AddMoreButton />
	</div>
</div>
