<button class="open" data-value="(Open)">O</button>
<button class="suspended" data-value="(Suspended)">S</button>
<button class="closed" data-value="(Closed)">C</button>
<button class="timeout" data-value="(Timeout)">O</button>

<script>
	import Escalation from "../../scripts/escalation";
	const specialButtons = document.querySelectorAll(
		"button.open, button.suspended, button.closed, button.timeout"
	);

	specialButtons.forEach((button) => {
		const value = button.getAttribute("data-value")!;
		const valuesList = ["(Open)", "(Suspended)", "(Closed)", "(Timeout)"];

		button.addEventListener("click", () => {
			const target = button.parentElement!.previousSibling!;
			const prevValue = (target as HTMLInputElement).value;
			if (hasStatusAlready(prevValue)) {
				valuesList.forEach((oldValue) => {
					(target as HTMLInputElement).value = (
						target as HTMLInputElement
					).value.replace(oldValue, value);
				});
			} else {
				(target as HTMLInputElement).value += ` ${value}`;
			}

			Escalation.updateResult();
		});
	});

	function hasStatusAlready(string: string) {
		let hasStatus = false;

		if (string.toLowerCase().includes("(open)")) {
			return true;
		}

		if (string.toLowerCase().includes("(suspended)")) {
			return true;
		}

		if (string.toLowerCase().includes("(closed)")) {
			return true;
		}

		if (string.toLowerCase().includes("(timeout)")) {
			return true;
		}

		return false;
	}
</script>
