<div>
	<button class="open" data-value="(Open)">O</button>
	<button class="suspended" data-value="(Suspended)">S</button>
	<button class="closed" data-value="(Closed)">C</button>
	<button class="timeout" data-value="(Timeout)">T</button>
</div>

<script>
	import activateSpecialButtons from "../../scripts/specialButtons";
	activateSpecialButtons();
</script>
