---
const { placeholder } = Astro.props;
---

<button class="addMore">Add More</button>

<style>
	button.addMore:active {
		position: relative;
		top: 3px;
	}

	button.addMore {
		height: 0.7rem;
		background-color: #abf5bf;
		border-radius: 0.6rem;
		border: 1px solid #424a43;
		display: inline-block;
		cursor: pointer;
		color: #3d1e3d;
		padding: 0.3rem;
		height: var(--input_button);
	}

	button.addMore:hover {
		background-color: #306115;
		color: white;
	}
</style>
