---

---

<div class="escalation">
	<button id="resetBtn">Reset</button>
	<div>
		<p id="escalation-result">Escalations should go here</p>
	</div>
</div>

<style>
	.escalation {
		background: lightcoral;
		padding: 2rem;
		display: flex;
		gap: 0.5rem;
	}

	button {
		padding: 1rem;
		border: 1px solid black;
	}

	#escalation-result {
		width: 100%;
		height: 100%;
	}
</style>

<script>
	import { resetEscalation } from "../scripts/escalation";

	document.querySelector("#resetBtn")!.addEventListener("click", () => {
		const allChecked = document.querySelectorAll(".checked");
		const allInputs = document.querySelectorAll("input");
		const allAdditionalInputs = document.querySelectorAll(".additional-input");
		const allInputFromAddmore = document.querySelectorAll(".from-addMore");

		allChecked.forEach((i) => i.classList.remove("checked"));
		allInputs.forEach((i) => (i.value = ""));
		allAdditionalInputs.forEach(
			(i) => ((i as HTMLElement).style.display = "none")
		);
		allInputFromAddmore.forEach((i) => i.remove());

		resetEscalation();
	});
</script>
