---

---

<div class="escalation">
	<p id="escalation-result">Escalations should go here</p>
</div>

<script>
	const escalation = document.querySelector(".escalation");
	escalation?.addEventListener("click", () => {
		console.log("Escalation div clicked. Should copy to clipboard");
	});
</script>

<style>
	div {
		background: lightcoral;
		padding: 2rem;
	}
</style>
