---

---

<div class="escalation">
	<p id="escalation-result">Escalations should go here</p>
</div>

<script>
	import Escalation from "../scripts/escalation.js";

	const escalationResult = document.querySelector("#escalation-result");
	escalationResult!.textContent = Escalation.getEscalation();

	const allChecked = document.querySelectorAll(".checked");
	console.log(allChecked);
</script>

<style>
	div {
		background: lightcoral;
		padding: 2rem;
	}
</style>
