---
const { title } = Astro.props;
---

<header>
	<h1>{title}</h1>
	<ul>
		<li><a href="/">Escalator</a></li>
		<li><a href="/misc">Misc</a></li>
		<li><a href="/updates">Updates</a></li>
	</ul>
</header>

<style>
	header {
		position: sticky;
		top: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		color: rgb(27, 20, 20);
		background: rgb(108, 135, 167);
		transition: 0.25s;
		border-bottom: none;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		display: flex;
		gap: 1rem;
	}

	li {
		font-size: large;

		&:hover {
			color: rgb(138, 226, 97);
		}
	}

	h1 {
		font-weight: 700;
		text-decoration: underline;
		font-size: 2rem;
	}
</style>
