---
import { type Restriction } from "../scripts/types";
import Choices from "./extraInput/Choices.astro";
const { restriction } = Astro.props;

interface Props {
	restriction: Restriction;
}

const name = restriction.name;
const description = restriction.description;
const escalation = restriction.escalation;
const options = restriction.options;
const addMoreButton = restriction.addMoreButton;
---

<div id={name} class="selection" data-escalation={escalation}>
	<p>{description}</p>
</div>

{options && <Choices restriction={restriction} />}

<script>
	const allSelectionDivs = document.querySelectorAll(".selection");

	allSelectionDivs.forEach((selection) => {
		// Toggle "check" class by clicking
		selection.addEventListener("click", () => {
			selection.classList.toggle("checked");

			// add data-active-escalation when checked and remove it if not
			const escalation = selection.getAttribute("data-escalation")!;

			if (selection.classList.contains("checked")) {
				selection.setAttribute("data-active-escalation", escalation);
			} else {
				selection.removeAttribute("data-active-escalation");
			}
		});
	});
</script>

<style>
	div {
		display: block;
		padding: 2rem;
		background: lightblue;
	}

	.checked {
		background: #21cf30;
	}
</style>
