---
import Restriction from "../components/Restriction.astro";
import allRestrictions from "../data/restriction.json";
import Escalation from "./Escalation.astro";
---

<div
	class=`content no-select mx-2 my-5 sm:mx-10 md:mx-20 lg:mx-40 xl:mx-60 2xl:mx-80`
>
	<Escalation />
	<div class="restriction-list">
		{
			allRestrictions.map((restriction) => (
				<Restriction restriction={restriction} />
			))
		}
	</div>
</div>

<style>
	.content {
		border: 1px solid black;
		border-radius: 1rem;
		overflow: hidden;
	}
</style>
