---
import Restriction from "../components/Restriction.astro";
import allRestrictions from "../data/restriction.json";
import Escalation from "./Escalation.astro";
---

<div class="content no-select">
	<Escalation />
	<div class="restriction-list">
		{
			allRestrictions.map((restriction) => (
				<Restriction restriction={restriction} />
			))
		}
	</div>
</div>

<style>
	.content {
		border: 1px solid black;
		border-radius: 1rem;
		overflow: hidden;
	}
</style>
