---
const { restriction } = Astro.props;
---

<option-plain id={restriction.code} class="selection">
	<p>{restriction.description}</p>
</option-plain>

<script>
	import Escalation from "../../scripts/escalation";
	document.querySelector("html")!.addEventListener("click", () => {
		Escalation.updateResult();
	});

	class OptionPlain extends HTMLElement {
		connectedCallback() {
			this.addEventListener("click", () => {
				this.classList.toggle("checked");
			});
		}
	}

	customElements.define("option-plain", OptionPlain);
</script>

<style>
	option-plain {
		display: block;
		padding: 2rem;
		background: lightblue;
	}

	.checked {
		background: #21cf30;
	}
</style>
